In [42]:
import pandas as pd

In [43]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [44]:
# Initial Shape
df.shape

(288, 3)

## Data Preprocessing Steps

In [45]:
# Step 1 : Renaming Columns
df.columns = ['PostalCode', 'Borough','Neighborhood']
# Step 2 : Ignore cells with a borough that is Not assigned.
df = df[df['Borough']!='Not assigned']
df.shape

(211, 3)

In [46]:
# Step 3: Assighn Borough to Neighborhood if Neighborhood is not assigned

## Step 3.1 : Check for such data
df.loc[df['Neighborhood']=='Not assigned']

  PostalCode       Borough  Neighborhood
8        M7A  Queen's Park  Not assigned

In [47]:
## Step 3.2 : Checking the replacement for such data
df[df['Neighborhood']=='Not assigned'][['PostalCode', 'Borough','Borough']]

  PostalCode       Borough       Borough
8        M7A  Queen's Park  Queen's Park

In [48]:
## Step 3.3 : Replacing 
df.loc[df['Neighborhood']=='Not assigned'] = df[df['Neighborhood']=='Not assigned'][['PostalCode', 'Borough','Borough']]

In [49]:
## Step 3.4 : Check after replacement whthere it is done correctly or not
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

**Replacement is done properly**

In [51]:
# Step 4 : Combining all the Neighborhoods group by Borough & PostalCode
df = df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: ', '.join(set(x.dropna())))

In [52]:
df.head(11)

   PostalCode      Borough                                       Neighborhood
0         M1B  Scarborough                                     Malvern, Rouge
1         M1C  Scarborough             Port Union, Rouge Hill, Highland Creek
2         M1E  Scarborough                  Guildwood, Morningside, West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough        Ionview, East Birchmount Park, Kennedy Park
7         M1L  Scarborough                    Oakridge, Clairlea, Golden Mile
8         M1M  Scarborough    Cliffside, Cliffcrest, Scarborough Village West
9         M1N  Scarborough                        Birch Cliff, Cliffside West
10        M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...

In [53]:
# Step 5: Checking the Shape as it is asked as task

df.shape

(103, 3)