In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

**Data Frame Initial Shape**

In [3]:
df.shape

(288, 3)

## Data Preprocessing Steps

**Step 1 : Renaming Columns**

In [4]:
df.columns = ['PostalCode', 'Borough','Neighborhood']

**Step 2 : Ignore cells with a borough that is Not assigned.**

In [5]:
df = df[df['Borough']!='Not assigned']
df.shape

(211, 3)

**Step 3: Assighn Borough to Neighborhood if Neighborhood is not assigned**

**Step 3.1 : Check for such data**

In [6]:
df.loc[df['Neighborhood']=='Not assigned']

  PostalCode       Borough  Neighborhood
8        M7A  Queen's Park  Not assigned

**Step 3.2 : Checking the replacement for such data**

In [7]:
df[df['Neighborhood']=='Not assigned'][['PostalCode', 'Borough','Borough']]

  PostalCode       Borough       Borough
8        M7A  Queen's Park  Queen's Park

**Step 3.3 : Replacing**

In [8]:
df.loc[df['Neighborhood']=='Not assigned'] = df[df['Neighborhood']=='Not assigned'][['PostalCode', 'Borough','Borough']]

**Step 3.4 : Check after replacement whthere it is done correctly or not**

In [9]:
df[df['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

**Replacement is done properly**

**Step 4 : Combining all the Neighborhoods group by Borough & PostalCode**

In [10]:
df = df.groupby(['PostalCode', 'Borough'], as_index=False).agg(lambda x: ', '.join(set(x.dropna())))

In [11]:
# Sample Data
df.head(5)

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Highland Creek, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**Step 5: Checking the Final Shape of Dataframe**

In [12]:
df.shape

(103, 3)